FREETZ_HAVE_DOT_CONFIG=y
#
# Freetz package download sites
#
FREETZ_MOD_DL_NUM_SITES="3"
#
# Download site #1
#
FREETZ_MOD_DL_SITE_1="http://freetz.3dfxatwork.de"
#
# Download site #2
#
FREETZ_MOD_DL_SITE_2="http://freetz.wirsind.info"
#
# Download site #3
#
FREETZ_MOD_DL_SITE_3="http://freetz.magenbrot.net"

